{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_removesuspended/groups_remove_suspended_users_email_html

    Scheduled task to remove suspended users from groups
    Email template for informing course instructors about suspended users being removed from groups.

}}
<p>Hi {{instructorname}},</p>
<p>The following users were removed from the following groups:</p>
<table>
<tr><th>User</th><th>Group</th></tr>
{{# usergroupinfo }}
<tr><td>{{username}}     </td><td>{{groupname}}     </td></tr>
{{/ usergroupinfo }}
</table>



